:root {
	color-scheme: light dark;

	--light-bg: #f5f7fa;
	--light-text: #1a202c;
	--light-text-glow: #4c4c4c;

	--dark-bg: #1e1e1e;
	--dark-text: #d7d7d7;
	--dark-text-glow: #e0e0e0;

	--content-pad: 1.5rem;
	--font-size: 1.25rem;
	--lcm-input-output-dimension: 576px; /* lcm(64, 72) */
}

@font-face {
	font-family: "Comfortaa";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/comfortaa/v47/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfIA.woff2) format('woff2');
}

* {
	font-family: "Comfortaa";
}

html {
	background-color: light-dark(var(--light-bg), var(--dark-bg));
	font-size: var(--font-size);
}

main {
	margin: var(--content-pad) calc(var(--content-pad) / 2);
}

h1, h2, h3, h4 {
	margin: 0.375rem 0;
}

.center_text {
	text-align: center;
}

.container_wrapper_media {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.wrapper_media {
	margin-bottom: 4rem;
}

#description {
	text-wrap: pretty;
}

.media {
	width: var(--lcm-input-output-dimension);
	height: var(--lcm-input-output-dimension);
	border-color: light-dark(var(--light-text), var(--dark-text));
	border-radius: 4px;
	border-style: solid;
	image-rendering: pixelated;
}

.clickable {
	cursor: pointer;
	transition: text-shadow 0.25s ease;
}

.clickable:hover {
	text-shadow: 0 0 5px light-dark(var(--light-text-glow), var(--dark-text-glow)), 0 0 10px light-dark(var(--light-text-glow), var(--dark-text-glow));
}



body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}
  
main {
	flex: 1;
}
  
footer {
	padding: 1rem;
}